<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container">
        <p>Thank you for purchasing the following service: <strong>{{serviceTitle}}</strong>!</p>
        <p>If Tim cannot complete the service, a full refund will be fulfilled in {{servieDuration}} day(s).</p>
        <p>Amount Charged ${{amount}}</p>
        <p>Thanks for your business</p>
    </div>
</body>
</html>