extends layout

block content
    div.hello
        main.inner.cover(role='main')
        h1.cover-heading Welcome to TK Freelancing
        p.lead
            | Your one stop shop for cheap web development services
        p.lead
            a.btn.btn-lg.btn-secondary(href='/services') See Services

