extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      legend New Service
      form(action="#", id="new-service")
        .form-group
            label Title*
            input.form-control(name="title" required)
        .form-group
            label Duration (Days)*
            input.form-control(name="duration" required) 
        .form-group
            label Image*
            input.form-control(name="avatar" type="file" required)
        .form-group
            label Description*
            textarea.form-control(name="description" required)   
        button(type="submit").btn.btn-primary Save